[Unit]
Description=WoL UDP Relay (MAC->Broadcast)
After=network-online.target
Wants=network-online.target

[Service]
Type=simple
WorkingDirectory=__INSTALL_DIR__
ExecStart=/usr/bin/python3 -u __INSTALL_DIR__/wol-udp-relay.py
Restart=always
RestartSec=1
User=root

[Install]
WantedBy=multi-user.target